.App {
  text-align: center;
}

.navbar {
  width: 500px;
  margin-left: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home {
  width: 900px;
  margin-left: 23%;
}

.form {
  margin-top: 30px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
}

.url {
  margin-top: 40px;
  width: 800px;
  margin-left: 6%;
}